.dark .form-label {
	color: var(--nord6);
}

.dark input.form-control,
.dark select.form-control,
.dark textarea.form-control {
	background-color: var(--nord2);
	color: var(--nord4);
	border-color: var(--nord3);
}

.dark input.form-control:disabled,
.dark select.form-control:disabled,
.dark textarea.form-control:disabled {
	background-color: var(--nord2-pale);
	border-color: transparent;
}

.dark input.form-control:not([readonly]):focus,
.dark select.form-control:not([readonly]):focus,
.dark textarea.form-control:not([readonly]):focus {
	background-color: var(--nord3);
}

.dark .form-helper {
	color: var(--nord6-pale);
}

.dark select.form-control option {
	background-color: var(--nord0);
	color: var(--nord4);
}