.form-group {
	position: relative;
	display: block;
	margin-bottom: var(--form-group-bottom-margin);
}

input.form-control,
select.form-control,
textarea.form-control {
	padding: 8px;
	font-size: 1em;
	outline: none;
	border: 1px solid var(--nord1-pale);
	border-radius: 3px;
	transition: 0.3s;
	transition-property: border-color, background-color;
	height: unset;
	font-weight: normal;
	width: 100%;
	background-color: transparent;
}

select.form-control option {
	background-color: var(--nord4);
	font-size: 1em;
	color: var(--nord0);
}

input.form-control:disabled,
select.form-control:disabled,
textarea.form-control:disabled {
	background-color: var(--nord3-pale);
	cursor: not-allowed;
}

input.form-control:not([readonly]):focus,
select.form-control:not([readonly]):focus,
textarea.form-control:not([readonly]):focus {
	border-color: var(--nord1);
	background-color: var(--nord6-pale);
}

input.form-control[readonly],
select.form-control[readonly],
textarea.form-control[readonly] {
	cursor: default;
}

.form-label {
	font-size: 1.1rem;
	color: var(--nord0);
	display: block;
	margin-bottom: var(--form-label-bottom-margin);
}

.form-helper {
	font-size: 0.8em;
	color: var(--nord3);
	margin-left: 5px;
}

.form-group.large input.form-control,
.form-group.large select.form-control,
.form-group.large textarea.form-control {
	padding: 12px;
	font-size: 1.2em;
	border-width: 2px;
}

.form-group.large .form-label {
	font-size: 1.2em;
}

.form-group.large .form-helper {
	font-size: 1em;
}

.form-group.small input.form-control,
.form-group.small select.form-control,
.form-group.small textarea.form-control {
	padding: 6px;
	font-size: 0.8em;
	border-width: 0.5px;
}

.form-group.small .form-label {
	font-size: 0.9em;
}

.form-group.small .form-helper {
	font-size: 0.6em;
}

.form-group.primary input.form-control,
.form-group.primary select.form-control,
.form-group.primary textarea.form-control {
	border-color: var(--nord7);
}

.form-group.primary .form-helper {
	color: var(--nord7);
}

.form-group.secondary input.form-control,
.form-group.secondary select.form-control,
.form-group.secondary textarea.form-control {
	border-color: var(--nord1);
}

.form-group.secondary .form-helper {
	color: var(--nord1);
}

.form-group.success input.form-control,
.form-group.success select.form-control,
.form-group.success textarea.form-control {
	border-color: var(--nord14);
}

.form-group.success .form-helper {
	color: var(--nord14);
}

.form-group.danger input.form-control,
.form-group.danger select.form-control,
.form-group.danger textarea.form-control {
	border-color: var(--nord11);
}

.form-group.danger .form-helper {
	color: var(--nord11);
}

.form-group.warning input.form-control,
.form-group.warning select.form-control,
.form-group.warning textarea.form-control {
	border-color: var(--nord12);
}

.form-group.warning .form-helper {
	color: var(--nord12);
}

.form-group.info input.form-control,
.form-group.info select.form-control,
.form-group.info textarea.form-control {
	border-color: var(--nord10);
}

.form-group.info .form-helper {
	color: var(--nord10);
}