.dark .form-label {
	color: var(--nord6)
}
.dark input.form-control {
	background-color: var(--nord2);
	color: var(--nord4);
	border-color: var(--nord3);
}
.dark input.form-control:not([readonly]):focus {
	border-color: var(--nord0);
	background-color: var(--nord3)
}
.dark input.form-control:disabled {
	background-color: var(--nord2-pale);
	border-color: transparent; 
}
.dark .form-helper {
	color: var(--nord6-pale)
}