@supports (-webkit-appearance: none) or (-moz-appearance: none) {
	.custom-radio {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		position: relative;
		width: 25px;
		height: 25px;
		margin: 0;
		outline: none;
		border: 2px solid var(--nord1);
		border-radius: 100%;
		transition-duration: 0.2s;
		transition-property: background-color, box-shadow;
		cursor: pointer;
		vertical-align: middle;
		-webkit-margin-end: 5px;
		-moz-margin-end: 5px;
		margin-inline-end: 5px;
	}

	.custom-radio::after {
		content: "";
		position: absolute;
		top: 25%;
		left: 25%;
		right: 25%;
		bottom: 25%;
		border-radius: 100%;
		transition-duration: 0.3s;
		transition-property: background-color;
	}

	.custom-radio-label {
		vertical-align: middle;
		cursor: pointer;
		font-size: 1.1rem;
	}

	.custom-radio:checked {
		background-color: var(--nord7);
	}

	.custom-radio:checked::after {
		background-color: var(--nord6);
	}

	.custom-radio:focus {
		box-shadow: 0 0 0 2px var(--nord7);
	}

	.custom-radio:disabled,
	.custom-radio.disabled {
		border-color: var(--nord1-pale);
		cursor: not-allowed;
	}

	.custom-radio:disabled:checked,
	.custom-radio.disabled:checked {
		background-color: var(--nord7-pale);
	}
}