main {
	display: flex;
	align-items: center;
	height: 100%
}
p {
	font-size: 1rem
}

.social-link {
	margin:  15px
}
.social-link.npm {
	fill: #cb3837
}
.social-link.github {
	fill: #f5f5f5
}
.installation-sample {
	margin-top: 20px;
	background-color: var(--nord0);
	padding: 15px 20px;
	border-radius: 3px;
	font-size: 1rem
}
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 10px
}
footer span {
	font-size: 0.8em
}