@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./Lato-Regular.ttf');
}

button, p, span, a, div, h1, h2, h3, h4, h5, h6, body, header, nav, li, td{
	font-family: "Lato"
}