.card {
    border-radius: 4px;
    background-color: white;
    position: relative;
    box-shadow: 0 2px 5px -7px var(--nord1), 0 1px 5px -7px var(--nord1), 0 1px 3px 0 var(--nord1);
}

.card.minimal {
    box-shadow: none;
    border: 1px solid rgba(46,52,64,0.3);
}

.card-body {
    padding: 15px;
}

.card-thumb img {
	border-radius: 4px 4px 0 0 ;
}