.documentation {
	padding: 20px 30px 0 30px;
	margin-bottom: 200px
}
.documentation h1:first-child {
	margin-top: 0
}
.documentation h1 {
	font-size: 3rem;
	color: var(--nord7)
}
.documentation h2 {
	font-size: 2rem;
}
.documentation h3 {
	font-size: 1.4rem
}
.documentation li {
	line-height: 2
}
.documentation p {
	font-size: 1.1rem
}
.documentation a, .documentation a:visited {
	color: var(--nord7)
}
.documentation pre, .documentation p {
	margin-bottom: 10px;
	margin-top: 0;
	line-height: 1.4
}

.documentation h2,h3,h4 {
	margin-top: 3rem;
	margin-bottom: 1rem
}
.documentation blockquote {
	margin-left: 0;
	margin-right: 0; 
}
.documentation blockquote > * {
	margin: 0
}

.documentation code.inline {
	color: var(--nord7);
	background: var(--nord1);
	padding: 4px;
	border-radius: 2px;
	font-size: 0.8em
}
.documentation pre[class*='language-'] {
	position: relative;
}
.documentation .copy-btn {
	background-color: transparent;
	color: var(--nord4);
	border: none;
	outline: none;
	padding: 5px;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.1s;
	position: absolute;
	top: 10px;
	right: 10px;
}
.documentation .copy-btn:hover {
	background: var(--nord3);
}


.documentation .code-example {
	display: flex;
	flex-wrap: wrap;
	border: 2px solid var(--nord1);
	border-radius: 0.3em
}
.documentation .preview, .documentation .source {
	flex-basis: 100%
}
.documentation .preview {
	border-bottom: 0;
	padding: 1em;
}
.documentation .source {
	width: 100%;
}
.documentation .source {
	width: 100%;
	position: relative;
}
.documentation .source.fixed-height {
	max-height: 500px;
	overflow-y: auto
}
.documentation .source > pre {
	position: static;
	margin: 0;
	border-radius: 0
}
body:not(.dark) .documentation code.inline {
	background-color: var(--nord3)
}
@media only screen and (max-width: 599px) {
	.documentation {
		padding: 10px;
	}
}