.callout {
	background-color: var(--nord4);
    border-left: 2px solid;
    border-color: var(--nord3);
	padding: 20px 0 20px var(--callout-side-offset);
}

.callout-title {
	font-size: 2em
}

.callout.primary {
	background-color: var(--nord);
	color: var(--nord)
}

.callout.secondary {

}

.callout.success {

}

.callout.danger {

}

.callout.warning {

}
.callout.info {

}