.callout {
	background-color: var(--nord4);
    border-left: 3px solid;
    border-color: var(--nord3);
	padding: 20px 0 20px var(--callout-side-offset);
	color: var(--nord1);
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.callout-title {
	font-size: 2em
}
.callout.primary {
	background-color: var(--nord7-pale);
	border-color: var(--nord7);
}
.callout.primary .callout-title {
	color: var(--nord7);
}
.callout.secondary {
	background-color: var(--nord1-pale);
	border-color: var(--nord1);
}
.callout.secondary .callout-title {
	color: var(--nord1);
}
.callout.success {
	background-color: var(--nord14-pale);
	border-color: var(--nord14);
}
.callout.success .callout-title {
	color: var(--nord14);
}
.callout.danger {
	background-color: var(--nord11-pale);
	border-color: var(--nord11);
}
.callout.danger .callout-title {
	color: var(--nord11);
}
.callout.warning {
	background-color: var(--nord13-pale);
	border-color: var(--nord13);
}
.callout.warning .callout-title {
	color: var(--nord13);
}
.callout.info {
	background-color: var(--nord10-pale);
	border-color: var(--nord10);
}
.callout.info .callout-title {
	color: var(--nord10);
}